<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin System</title>
    <link rel="import" href="../layout/common.html?__inline">
    <link rel="stylesheet" href="./home.scss">
</head>

<body>
    <div id="app" :class="[mode]">
        <aside>
            <left-nav :is-collapse=isCollapse></left-nav>
        </aside>
        <section class="right-wrap">
            <div class="header">
                <span @click="toggleMode"><i class="el-icon-tickets"></i></span>
            </div>
            <el-switch v-model="value3" active-text="按月付费" inactive-text="按年付费">
            </el-switch>
            <el-switch style="display: block" v-model="value4" active-color="#13ce66" inactive-color="#ff4949"
                active-text="按月付费" inactive-text="按年付费">
            </el-switch>
            <router-view></router-view>
        </section>
    </div>

    <script>
        require.async('./home.js', () => {});
    </script>
</body>

</html>