<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin System</title>
    <link rel="import" href="../layout/common.html?__inline">
</head>

<body>
    <style>
    .nav-item{
        font-size: 24px;
        color: blueviolet;
    }</style>
    <div id="app">
        <p>
            <router-link class="nav-item" to="/dashboard">dashboard</router-link>
            <router-link class="nav-item" to="/form">form</router-link>
        </p>
        <router-view></router-view>
    </div>

    <script>
        require.async('./home.js', () => {});
    </script>
</body>

</html>