<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link rel="import" href="../layout/common.html?__inline">
</head>

<body>
    <div id="app">
        <Login></Login>
    </div>
    <script >
        import Vue from 'vue/dist/vue.common.prod.js';
        import Login from './login.vue';
            new Vue({
                el: '#app',
                components: {
                    Login
                }
            });
    </script>
</body>

</html>